<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
    <body>
        <div>
            <%=title%>
            <ul>
                <li>
                <a href="/auth/google" class="googleplus"><i class="fa fa-google-plus"></i></a>
				<a href="/auth/twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="/auth/facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </body>
</html>
