<html>
    <head>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body>
        <div>
            <img src="<%=user.image%>">
            <%=user.displayName%>
            <%if(user.facebook){%>
                <img src="<%=user.facebook.image%>" >
            <%}%>
            Eu Tenho <%=user.facebook.friends%> Amigos;
        </div>
        <div>
            Ultimo Tweet: <%=user.twitter.lastPost%>
        </div>
        <div>
            <ul>
                <li>
                <a href="/auth/google" class="<%if(user.google){%>googleplus<%}%>"><i class="fa fa-google-plus"></i></a>
				<a href="/auth/twitter" class="<%if(user.twitter){%>twitter<%}%>"><i class="fa fa-twitter"></i></a>
                <a href="/auth/facebook" class="<%if(user.facebook){%>facebook<%}%>"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </body>
</html>
